# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

budgets.txt
banks.txt
transactions.txt
TrackStars.log

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
